<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <strong>Powered By: <a href="http://www.cloudbandsolutions.com/">Cloudband Solutions Co.</a></strong> All rights reserved.
</footer>