<aside class="main-sidebar">
	<div class="slimScrollDiv" style="position:relative; overflow:hidden; width: auto; height: 110px;">
		<div id="scrollspy" class="sidebar" style="height: 110px; overflow: hidden; width: auto;">
			<ul class="nav sidebar-menu">
				<li class="header"><center>Models</center></li>
				<li class=""><a href="/"><i class="fa fa-circle-o"></i>Dashboard</a></li>
				<li class=""><%= link_to "Company Profile", companies_path %></li>
			</ul>
		</div>
	</div>
</aside>