<section class="content-header">
<h1>Item Category Information   |<small>Control Panel</small></h1>
</section>
	<section class="content">
		<div class="ui segment">
			<table class="table table-bordered">
				<div class="box box-success">
		  		<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
							<tr>
								<td><%= @item_category.name %></td>
								<td><%= @item_category.description %></td>
							</tr>
					</tbody>
				</div>
			</table>
		</div>
	</section>