<section class="content-header">
	<h1>Dashboard
		<small>Control Panel</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>100</h3>
					<p>Products</p>
				</div>
				<div class="icon">
					<i class="shipping icon" style="top:50px;"></i>
				</div>
				<a class="small-box-footer" href="#">
					More Info<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-green">
				<div class="inner">
					<h3>100<sup style="font-size: 20px">%</sup></h3>
					<p>Sales Rate</p>
				</div>
				<div class="icon">
					<i class="bar chart icon" style="top:50px;"></i>
				</div>
				<a class="small-box-footer" href="#">
					More Info<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>100</h3>
					<p>Employee</p>
				</div>
				<div class="icon">
					<i class="users icon" style="top:50px;"></i> 
				</div>
				<a class="small-box-footer" href="#">
					More Info<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6">
			<div class="small-box bg-red">
				<div class="inner">
					<h3>100</h3>
					<p>HINDI PA ALAM</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a class="small-box-footer" href="#">
					More Info<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>
