<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-10">
		<div class="container">
			<div class="ui segment">
			<br><br><br>
			<h1>Company Information</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name of Company</th>
							<th>Telephone Number</th>
							<th>Website</th>
							<th>Address</th>
						</tr>
					</thead>
					<tbody>
						<% @companies.each do |c| %>
						<tr>
							<td><%= c.company_name %></td>
							<td><%= c.telephone %></td>
							<td><%= c.website %></td>
							<td><%= c.address %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>