<section class="content-header">
	<h1>Item Type Information  |<small>Control Panel</small></h1>
</section>
	<section class="content>">
		<div class="container">
			<div class="ui segment">
				<br><br>
				<table class="table table-bordered">
				<div class="box box-success">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @item_type.name %></td>
							<td><%= @item_type.description %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>